/* 重置样式 */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; padding: 0; }
html, body, #root { height: 100%; }
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Noto Serif SC", "ZCOOL XiaoWei", "Ma Shan Zheng", serif;
  line-height: 1.5;
  overflow: hidden;
  background: #1B1612;
}
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; color: inherit; }
button { background: none; border: 0; cursor: pointer; }
a { color: inherit; text-decoration: none; }
ul, ol { list-style: none; }
